####VolaGUI Settings####
path=C:\vol.exe

####Imaging####

####Process/DLLs####
pslist:Print active processes by following the _EPROCESS list:*
dlllist:Print list of loaded DLLs for each process. Use the -p option to specify process ID or Use the offset to specify a physical address for a suspected hidden process:pq
handles:Print list of open handles for each process by default. Use -p to indicate process ID or the offset to display handles for those particular items. Use the -t filter option to filter for specific items (-t Process):ptQ
getsids:Print the SIDs owning each process:*
cmdscan:Extract command history by scanning for _COMMAND_HISTORY:M
consoles:Extract command history by scanning for _CONSOLE_INFORMATION:*

####Process Memory
memmap:Print the memory map:p
memdump:Dump the addressable memory for a process. Warning: Can take extremely long time to execute! Supply output DIR with -D option.:pD
evtlogs:Parse XP and 2003 event logs from memory. The save-evt option, requires no additional user input when selected.:De
iehistory:Extract and parse Internet Explorer history and URL cache:*


